body{
    background-color: rgb(245, 221, 4);
}
h1{
    background-color: blue;
    color: aqua;
}
nav{
    background-color: #f403cc;
    color: white;
    padding: 100px;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li{
    display: inline;
    margin-right: 20px;
    text-align: center;
}
nav ul li a{
    color: white;
    text-decoration: none;
    
}
nav ul li a:hover{
    text-decoration: underline;

}
section{
    padding: 20px;
}
